@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="card">
            <div class="card-body">
                MUNICIPIOS FOCALIZADOS...
            </div>
        </div>
    </div>
</div>
<br />

    <div class="row">
        <div class="col-md-4 p-2">
            <div class="card ">
                <div class="card-body">
                    <div id="accordion">
                        <div id="accordionNew"></div>

                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 p-2">
            <!-- Card -->
            <div class="card ">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row  justify-content-center col-md-4">
                            <div class="form-group col-md-11">
                                <div class="table-responsive text-nowrap">
                                </div>
                            </div>
                        </div>
                        <div class="row  justify-content-center col-md-8">
                            <div class="form-group col-md-11">
                                <div class="table-responsive text-nowrap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
@Scripts.Render("~/Scripts/ModalControl.js")
<script type="text/javascript">
    $(document).ready(function () {
        
        function tabla() {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Index2")',
                dataType: 'json',
                success: function (s) {
                    let Acordion = "";
                    $.each(s, function (i, obj) {

                        let ListRecursiveGroup = obj.ListRecursiveGroup;

                        let Detail = "Documentos Visible <br> ";
                        $.each(ListRecursiveGroup, function (i, obj) { 
                            let tipo = "";
                            if(obj.Tipo == ''){
                                tipo = "No";
                            }else{
                                tipo = "Si";
                            }
                            console.log(obj);
                            Detail = Detail +  tipo + ' Total ' + obj.Total + ' <br> '; 
                        } );
                        
                        let AcordionHeader =  
                        '   <div class="card"> ' +
                                '<div class="card-header" id="Id'+obj.Nombre+'">'+
                                    '<h5 class="mb-0">'+
                                        '<button class="btn btn-link" data-toggle="collapse" data-target="#'+obj.Nombre+'" aria-expanded="false" aria-controls="'+obj.Nombre+'">' +
                                        obj.Nombre + ' Total : ' + obj.Total +
                                        '</button>' +
                                    '</h5>' +
                                '</div>' +

                                '<div id="'+obj.Nombre+'" class="collapse" aria-labelledby="Id'+obj.Nombre+'" data-parent="#accordion">' +
                                    '<div class="card-body">' +
                                        Detail +
                                    '</div>'+
                                '</div>'+
                            '</div>';
                        $("#accordionNew").html(AcordionHeader);      
                    });
                    
                    

                },
                error: function(e){
                }
            });
            };
        tabla();
    });

</script>


    