@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="card">
            <div class="card-body">
                DEPARTAMENTOS FOCALIZADOS...
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            @*<img class="card-img-top" src="https://image.freepik.com/vector-gratis/gente-negocios-lupa-graficos_1262-18918.jpg" alt="Card image cap">*@

            <!-- Card content -->
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="row  justify-content-center">
                        <div class="form-group col-md-11">
                            <div class="table-responsive text-nowrap">
                                <table id="table_id" class="table table-hover center" cellspacing="0" width="100%">
                                    <thead class="green white-text title">
                                        <tr>
                                            <th> Id </th>
                                            <th> IdDepto </th>
                                            <th> Departamento </th>
                                            <th> IDMunicipio </th>
                                            <th> Municipio </th>
                                            <th> Numero de Expedientes</th>
                                            <th> Numero de Pdf</th>
                                            <th> Num. Exp. Asociado</th>
                                            <th> Tipificados</th>
                                            <th> Mal Nombrados</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot class="green white-text title">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
@Scripts.Render("~/Scripts/ModalControl.js")
<script type="text/javascript">
    $(document).ready(function () {

        var oTable = $('#table_id').dataTable({
             
                "order": [[1, "desc"]],
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "pageLength": 10,
                "searching": true,
                "columnDefs": [
                    {
                        "targets": [ 1 ],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [ 3 ],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [4 ],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
            ],
                dom: "B<'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'<'#colvis'>p>>",
                buttons: [
                   { "extend": 'pdf', "text":'Pdf',"className": 'btn-outline-success' },
                    { "extend": 'excel', "text":'Exc',"className": ' btn-outline-success ' },
                    { "extend": 'print', "text":'Imp',"className": ' btn-outline-success ' }
                ],
                "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // computing column Total of the complete result

                var Total5 = api
                    .column(5,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var Total6 = api
                    .column(6,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var Total7 = api
                    .column(7,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var Total8 = api
                    .column(8,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var Total9 = api
                    .column(9,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                $(api.column(4).footer()).html('TOTAL');
                $(api.column(5).footer()).html(Total5);
                $(api.column(6).footer()).html(Total6);
                $(api.column(7).footer()).html(Total7);
                $(api.column(8).footer()).html(Total8);
                $(api.column(9).footer()).html(Total9);

            }
            });  //Initialize the datatable

        function tabla() {

            $('#centralModalLGInfoDemoSlim').modal({backdrop: 'static', keyboard: false})
            $("#centralModalLGInfoDemoSlim").modal();
            $('#HeaderSlim').html("")
            $('#BodySlim').html('<div class="loading">Cargando ... <img src="http://localhost:50213/Content/loader.gif" alt="loading" /></div>');
            //$('#BodySlim').html("Cargando");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CountDepto")',
                dataType: 'json',
                success: function (s) {
                    oTable.fnClearTable();
                    $.each(s, function (i, obj) {
                        var res = obj.NOMBRE_PAIS.split("-");
                        oTable.fnAddData([
                            obj.id,
                            obj.IdCtDepto,
                            obj.NOMBRE_DEPTO,
                            obj.IdCtMuncipio,
                            obj.Nombre,
                            obj.IdCtPais,
                            res[0],
                            res[2],
                            res[1],
                            res[3],
                           "<z1 Data1='" + obj.IdCtDepto + "' Data2='" + obj.IdCtMuncipio + "'  style='color: #013ADF;' class = 'Municipio' > <i class='fa fa-eye'>  </i></z1>  "
                        ]);
                //Model.NOMBRE_PAIS = NumeroPdf + "-" + NumeroTipificacion + "-" + NumeroAsociados + "-" + Malnombrados;
                        //
                    });
                    $("#centralModalLGInfoDemoSlim").modal('hide');
                },
                error: function(e){
                     oTable.fnClearTable();
                }
            });
            };

        tabla();
        var tabla2 = $('#table_id').DataTable();
            $('#table_id tbody').on('click', 'z1', function () {
                var data = tabla2.row($(this).parents('tr')).data();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ResumenIndex")',
                    dataType: 'json',
                    data: { IdDeptoIn: data[1], IdCiudadIn: data[3]  },
                    success: function(states) {
                        debugger;
                        window.location = states.url;
                    },
                    error: function (ex) {
                        console.log(ex.responseText);
                    }
                });

            });

    });

</script>


    