@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>MUNICIPIOS FOCALIZADOS</h1>
        <p class="lead text-justify">
        </p>
    </div>
 

<div class="row">
    <div class="col-md-12">
        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            @*<img class="card-img-top" src="https://image.freepik.com/vector-gratis/gente-negocios-lupa-graficos_1262-18918.jpg" alt="Card image cap">*@

            <!-- Card content -->
            <div class="card-body">
               
                <!-- Button -->
                <table id="table_id" class="table table-hover">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th> IdDepto </th>
                            <th> Departamento </th>
                            <th> IDMunicipio </th>
                            <th> Municipio </th>
                            <th> Numero de Expedientes</th>
                            <th> Numero de Pdf</th>
                            <th> Tipificados</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- Card -->
    </div>
   

</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
@Scripts.Render("~/Scripts/ModalControl.js")
<script type="text/javascript">
    $(document).ready(function () {


        var oTable = $('#table_id').dataTable({
                "order": [[1, "desc"]],
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "pageLength": 10,
            "searching": true,
                "columnDefs": [
            {
                "targets": [ 1 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 3 ],
                "visible": false,
                "searchable": false

            }
        ]
            });  //Initialize the datatable

        function tabla() {

            $('#centralModalLGInfoDemoSlim').modal({backdrop: 'static', keyboard: false})
            $("#centralModalLGInfoDemoSlim").modal();
            $('#HeaderSlim').html("")
            $('#BodySlim').html("Cargando");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CountDeptos")',
                dataType: 'json',
                success: function (s) {
                    debugger;
                    oTable.fnClearTable();
                    $.each(s, function (i, obj) {
                        var res = obj.NOMBRE_PAIS.split("-");
                        oTable.fnAddData([
                            obj.id,
                            obj.IdCtDepto,
                            obj.NOMBRE_DEPTO,
                            obj.IdCtMuncipio,
                            obj.Nombre,
                            obj.IdCtPais,
                            res[0],
                            res[1],
                           "<z1 Data1='" + obj.IdCtDepto + "' Data2='" + obj.IdCtMuncipio + "' title='Modificar' style='color: #013ADF;' class = 'Municipio' > <i class='fa fa-eye'>  </i></z1>  "
                        ]);
                    });
                    $("#centralModalLGInfoDemoSlim").modal('hide');
                },
                error: function(e){
                     oTable.fnClearTable();
                }
            });
            };

        tabla();
        var tabla2 = $('#table_id').DataTable();
            $('#table_id tbody').on('click', 'z1', function () {
                var data = tabla2.row($(this).parents('tr')).data();
                alert(' '+ data[1]+ ' '+ data[3]);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ResumenIndex")',
                    dataType: 'json',
                    data: { IdDeptoIn: data[1], IdCiudadIn: data[3]  },
                    success: function(states) {
                        debugger;
                        window.location = states.url;
                    },
                    error: function (ex) {
                        console.log(ex.responseText);
                    }
                });

            });

    });

</script>


