
@{
    ViewBag.Title = "MyProfile";
}

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Mi perfil</span>
        </h4>
    </div>

</div>
<!-- Heading -->



<div class="row wow fadeIn">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input placeholder="Identificador único del empleado" type="text" length="10" id="inputPlaceholderEx1" class="form-control">
                            <label for="inputPlaceholderEx1">Identificador único del empleado</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input placeholder="Puesto" type="text" length="10" id="inputPlaceholderEx5" class="form-control">
                            <label for="inputPlaceholderEx5">Puesto</label>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Nombre" type="text" length="10" id="inputPlaceholderEx2" class="form-control">
                            <label for="inputPlaceholderEx2">Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Apellido paterno" type="text" length="10" id="inputPlaceholderEx3" class="form-control">
                            <label for="inputPlaceholderEx3">Apellido paterno</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Apellido materno" type="text" length="10" id="inputPlaceholderEx4" class="form-control">
                            <label for="inputPlaceholderEx4">Apellido materno</label>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input placeholder="Correo" type="text" length="10" id="inputPlaceholderEx6" class="form-control">
                            <label for="inputPlaceholderEx6">Correo</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input placeholder="Fecha de nacimiento" type="text" length="10" id="inputPlaceholderEx7" class="form-control">
                            <label for="inputPlaceholderEx7">Fecha de nacimiento</label>
                        </div>
                    </div>
                </div>
                &nbsp;
            </div>
        </div>
        &nbsp;
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <img src="~/Images/faces/avatar1.jpg" class="rounded-circle img-responsive" alt="" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Pais" type="text" length="10" id="inputPlaceholderEx8" class="form-control">
                            <label for="inputPlaceholderEx8">Pais</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Ciudad" type="text" length="10" id="inputPlaceholderEx9" class="form-control">
                            <label for="inputPlaceholderEx9">Ciudad</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Genero" type="text" length="10" id="inputPlaceholderEx10" class="form-control">
                            <label for="inputPlaceholderEx10">Genero</label>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Escolaridad" type="text" length="10" id="inputPlaceholderEx11" class="form-control">
                            <label for="inputPlaceholderEx11">Escolaridad</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Area de estudio" type="text" length="10" id="inputPlaceholderEx12" class="form-control">
                            <label for="inputPlaceholderEx12">Area de estudio</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input placeholder="Estado civil" type="text" length="10" id="inputPlaceholderEx13" class="form-control">
                            <label for="inputPlaceholderEx13">Estado civil</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>