@{
    ViewBag.Title = "Home Page";
}

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home Page</a>
            <span>/</span>
            <span>Dashboard</span>
        </h4>

        <form class="d-flex justify-content-center">
            <!-- Default input -->
            <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
            <button class="btn btn-primary btn-sm my-0 p" type="submit">
                <i class="fa fa-search"></i>
            </button>

        </form>

    </div>

</div>
<!-- Heading -->

<div class="jumbotron">
    <h1 class="h1-responsive">Hello, world!</h1>
    <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for calling extra attention
        to featured content or information.
    </p>
    <hr class="my-2">
    <p>
        It uses utility classes for typography and spacing to space content out within the larger
        container.
    </p>
    <a class="btn btn-primary btn-lg" role="button">Learn more</a>
</div>