<div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
        <img src="http://www.gestorestalentohumano.com/wp-content/uploads/2018/05/gestores-logo.png" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush">
        <a href="@Url.Action("PrivacyPolicy", "Employee")" id="mnu1" name="mnu" onclick="mnuoption(this)" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-clipboard mr-3"></i>Aviso de privacidad
        </a>
        <a href="@Url.Action("AboutTheCompany", "Employee")" id="mnu2" name="mnu" onclick="mnuoption(this)" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-building mr-3"></i>Acerca de ...
        </a>
        <a href="@Url.Action("MyProfile", "Employee")" id="mnu3" name="mnu" onclick="mnuoption(this)" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-user mr-3"></i>Mi perfil
        </a>
        <a href="@Url.Action("MyProcess", "Employee")" id="mnu4" name="mnu" onclick="mnuoption(this)" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-cubes mr-3"></i>Mis procesos
        </a>
    </div>

</div>
